# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

# Maven #
target/

# Eclipse #
.settings/
.classpath
.project
