<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!--开启mybatis的驼峰命名转换-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!--Mybatis版本是3.0.6以上日志配置-->
        <setting name="logPrefix" value="mybatis.log."/>
    </settings>

</configuration>